/db.sqlite3
/geckodriver.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/superlists.iml
/.idea/dictionaries/User.xml
/.idea/vcs.xml
/superlists/geckodriver.log
/.idea/dataSources.xml
/identifier.sqlite
/functional_tests/geckodriver.log
